.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;

  .input-group {
    margin-bottom: 20px;
    input {
      width: 300px;
      padding: 10px;
      font-size: 16px;
    }
    button {
      padding: 10px 20px;
      margin-left: 10px;
      font-size: 16px;
    }
  }

  .slider-group {
    margin-bottom: 20px;
    label {
      margin-right: 10px;
    }
    input[type='range'] {
      width: 200px;
    }
  }

  .selects-container {
    display: flex;
    justify-content: center;
    overflow: hidden;

    select {
      margin: 0 5px;
      padding: 10px;
      font-size: 16px;
      height: 200px;
      width: 150px;
      background: #f0f0f0;
      border: 1px solid #ccc;
      // overflow-y: scroll;

      option {
        height: 16px;
      }
    }
  }

  .result {
    margin-top: 30px;
    h2 {
      font-size: 24px;
      color: #333;
    }
  }
}
